@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Vazirmatn&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --collor-sucess: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #ffffff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dc8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-green-dark: #03573b;
  --color-green-light: #90EE90;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --image-border-radius: 2rem 2rem 0rem 0;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --padding-2: 1rem;
  --padding-3: .8rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-1: 0 0rem 1rem var(--color-green-light);
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-varient: #a3bdcc;
  --color-light: rgba(0, 0, 0, .4);
  --box-shadow: 0 2rem 3rem var(--color-light)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-family: 'Vazirmatn', sans-serif;
  font-size: 14px;
}

input {
  font-size: 1.2rem;
  background-color: var(--color-white);
  color: var(--color-dark) !important;
  padding: 5px;
}

body {
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-dark);
}

a {
  color: var(--color-primary);
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "navbar navbar"
    "sidebar main";
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
}

.navbar .porfile {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.navbar .porfile img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.navbar .theme-toggler {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-dark);
  border-radius: var(--card-border-radius);
}

.navbar .theme-toggler span {
  cursor: pointer;
  font-size: 1.4rem;
}

.navbar .theme-toggler span.active {
  padding: .2rem;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius);
}

/* ------------------End of Navbar ------------------------ */

.sidebar {
  height: 100%;
  position: relative;
}

.sidebar .tab-container {
  display: flex;
  gap: .4rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 200ms ease;
}

.sidebar .tab-container:hover {
  margin-right: .8rem;
  color: var(--color-primary);
  transition: all 300ms ease;
}

.sidebar .tab-container.active {
  background-color: var(--color-light);
}

.sidebar .tab-container:last-child {
  position: absolute;
  bottom: 5rem;
}

/* -------------------- End of Side Bar ------------------------ */


.main {
  height: 100%;
  grid-area: main;
  padding: 2rem;
  position: relative;
}

/* -----------------------End of Main ------------------------------ */

.main .dashboard {
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5rem 1fr 1fr;
  grid-template-areas: "header header"
    "card shipment"
    "table shipment";
}

/* ---------------- Dash Header ----------------- */

.main .dashboard .header {
  grid-area: header;
}

/* ------ Card Container -------- */
.main .dashboard .card-container {
  grid-area: card;
  display: flex;
  gap: 2rem;
}

.main .dashboard .card-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  padding: 1rem;
  width: 30%;
  height: 80%;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.main .dashboard .card-container .card:hover {
  box-shadow: none;
  transition: all 300ms ease;
}


/* -------- Recent shipment ---------  */
.main .dashboard .recent-shipment {
  grid-area: shipment;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin: 0 1rem;
  width: 100%;
  height: 100%;
}

.main .dashboard .recent-shipment:hover {
  box-shadow: none;
}


.main .dashboard .recent-shipment .shipment {
  display: flex;
  gap: .4rem;
  background-color: var(--color-primary);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin: 1rem 0;
  width: 100%;
  height: 100%;
}

/* --------------- Recent Users --------- */

.main .dashboard table {
  cursor: pointer;
  background: var(--color-white);
  text-align: center;
  width: 100%;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--card-padding);
  transition: all 300ms ease;
}

.main .dashboard table:hover {
  box-shadow: none;
}

.main .dashboard table tr>td,
th {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark);
}

.main .dashboard table tr:last-child td {
  border: none;
}

/* -------------------------End of DashBoard ------------------------------ */



.main .products,
.users {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "header "
    "content";
  width: 100%;
}


.main .header {
  grid-area: header;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-between;
}

.main .header input {
  height: 2.8rem;
  border-radius: var(--border-radius-2);
}

.main .header span {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(1, 93, 1);
  border-radius: 50% !important;
  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  transition: all 300ms ease;
}

.main .header span:hover {
  box-shadow: none;
  transition: all 300ms ease;
}

/* ---------------- End of Product And User ---------------- */


/* -------- Product Main ----------*/
.main .products .content {
  grid-area: content;
}

.main .products .content .products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.main .products .content .products-container .products {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--color-white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
}

.main .products .content .products-container .products img {
  border-radius: var(--image-border-radius);
  height: 20rem;
  width: 100%;
}

.main .products .content .products-container .products .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .8rem;
  gap: 1rem;
}

.main .products .content .products-container .products .info input {
  width: 100%;
}

/* -------------------------------End of Products  ------------------------------- */


.main .users {
  display: grid;
}

.main .users table {
  text-align: center;
}

.main .users table img {
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
}

.main .users table thead tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .users table tbody tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--padding-3);
  margin-bottom: 1rem;
}

.main .users table tbody tr td {
  flex-basis: 20%;
}

.main .users table thead tr th {
  flex-basis: 20%;
  border: none;
}

/* -------------------------------End of Users ------------------------------- */

.main .overlay{
  display: block;
  background-color: rgba(0, 0, 0,0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.main .overlay .modal{
  align-items: center;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow-2);
  padding: var(--padding-1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  justify-content: center;
  top: 10%;
  right: 30%;
  width: 30%;
}

.main .overlay .modal .close{
  width: 100%;
  margin-right: 2rem;
}

.main .overlay .modal .close span{
  background-color: var(--color-light);
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem !important;
}

.main .overlay .modal .close span:hover{
  color:red
}

.main .overlay .modal input[type="text"]{
  background-color: var(--color-dark-variant);
  border: none;
  border-radius: var(--border-radius-1);
  color:var(--color-white) !important;
  padding: 1rem;
  height: 2.5rem;
  width: 80%;
}

.main .overlay .modal input[type="text"]::placeholder{
  color: var(--color-info-dark);
}


.main .overlay .modal input[type="button"]{
  background-color: var(--color-primary);
  border-radius: var(--border-radius-2);
  color: var(--color-white) !important;
  width: 60%;
  transition: all 300ms ease;
}

.main .overlay .modal input[type="button"]:hover{
  background-color: var(--color-dark-variant);
}

.main .overlay .modal input[type="button"]:active{
  border: 1px solid var(--color-primary-variant);
  transition: all 300ms ease;
}

@keyframes drop-1 {
  from{
    display: none;
    transform:translateY(-100vh);
  }

  to{
    transform:translateY(0);
    display: block;
  }
}

.main .popup{
  z-index: 999;
  animation-name: drop-1;
  animation-duration: 2s;
  position: absolute;
  right: 40%;
  top: 0px;
  background-color: var(--color-white);
  padding: car(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  height: 5rem;
  width: 20rem;
  display: none;
}

.main .popup .message{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}